<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>biioo</title>
  <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">

  <link rel="canonical" href="http://www.biioo.io/">
  <link rel="alternate" type="application/rss+xml" title="biioo" href="http://www.biioo.io/feed.xml"/>

  <!-- Material Design Lite css Library -->
  <link rel="stylesheet" href="/css/main.css">
  
  <!-- Material Design Fonts -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

  <body>   
    <!-- Start Layout -->
    <header>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {% include search_result.html %}
      <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <a href="http://www.biioo.io"><img class="android-logo-image" src="http://www.biioo.io/images/biioo-logo.png"></a>
          </span>
          <span class="android-mobile-title mdl-layout-title">
            <a href="http://www.biioo.io"><img class="android-logo-image" src="http://www.biioo.io/images/biioo-logo.png"></a>
          </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="android-header-spacer mdl-layout-spacer"></div>
          <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="js-search__input">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="js-search__input">
            </div>
          </div>
          <!-- Navigation -->
          <div class="android-navigation-container">
          </div>
        </div>
      </div>
      <main class="mdl-layout__content">
        {{ content }}
        {% include footer.html %}
      </main>    
    </div>
    </header>
    <!-- /End Layout -->

    <!-- Material Design Lite js Library -->
    <script type="text/javascript" src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    {% if site.pagination_type == 'ops' %}
    <script rel="javascript" type="text/javascript" src="{{ "/js/site.js" | prepend: site.baseurl }}"></script>
    {% endif %}
    <script rel="javascript" type="text/javascript" src="{{ "/js/search.js" | prepend: site.baseurl }}"></script>
    <script rel="javascript" type="text/javascript">
      superSearch({
        searchFile: '/feed.xml',
        searchSelector: '#js-search', // CSS Selector for search container element.
        inputSelector: '#js-search__input', // CSS selector for <input>
        resultsSelector: '#js-search__results' // CSS selector for results container
      });
    </script>
  </body>
</html>